body{
    font-family: Arial, sans-serif;
    font-size:15px;
    line-height:1.5;
    background-color:#f4f4f4;
}

.container {
    width:50%;
    margin:auto;
    overflow:hidden;
}

.inputButton {
    margin:10px;
    width:60%;
    height:40px;
    font-size:20px;
}

.formEnd {
    margin:10px;
    width:100px;
    font-size:15px;
}

.cancel {
    display:inline;
}

.smallButtons {
    background-color:#e8491d;
    color:#ffffff;
    width:90px;
    height:30px;
    border:#35424a 1px solid;
}

.enterText {
    height:25px;
    margin-bottom:4px;
}

.rdl {
    margin-top:0px;
    background-color: #4a5d68;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:15px;
}

.formView {
    margin-bottom:50px;
}

header {
    background:#35424a;
    color:#ffffff;
    padding-top:5px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

footer {
    padding:2px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e84916;
    text-align:center;
}

.tableClass {
    border:black 1px solid;
}

.logoutButton {
    float:right;
    min-width:80px;
    height:40px;
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    width:100px;
    background-color:#e84916;
    color:#ffffff;
    border:0px;
    font-size:20px;
}

.selectBox {
    height:25px;
    width:146px;
    margin-bottom:4px;
}
